data_dir = "/var/nomad"
datacenter = "my_datacenter"
bind_addr = "0.0.0.0"

advertise {
  http = "194.182.170.238:4646"
  rpc  = "194.182.170.238:4647"
  serf = "194.182.170.238:4648"
}

server {
  enabled = true
  bootstrap_expect = 1
}

consul {
  address = "localhost:8500"
  auto_advertise = true
  server_service_name = "nomad"
  client_service_name = "nomad-client"
}

tls {
  http = false
  rpc  = false
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics = true
}